h1 {
    color: rgb(220, 52, 62);
    width: 150px;
    text-align: center;
}

.primary-button {
    width: 170px;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 7px 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    background: rgb(220, 52, 62);
    border-color: transparent;
    outline: none;
}

.primary-button:hover {
    color: white;
    text-decoration: none;
}

